.*
!.gitignore
!.gitattributes
!.gitconfig
*.pyc
*.log
*.Log
*.out
_*
!docs/_config.yml

env/

results/*
!results/summary
!resuts/counts
results/counts/*
!results/counts/variant_counts.csv.gz
!results/counts/counts_to_cells_csv.csv
!results/escape_scores
results/escape_scores/*
!results/escape_scores/scores.csv.gz
!results/escape_scores/scores_homologs.csv
!results/escape_scores/escape_fracs.csv

data/spikeprot*
